html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fcf9f9;
}

/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e76531 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
    background-color: #070606;
    
    
}

.navbar-brand{
    font-family:sans-serif;
    font-size: 1.5rem;
    color: #0f0f0f!important;
}

.nav-link{
    color: #0a82f3f3!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #dbae1b;
}
/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 100vh;
    background-color: #0f0a03;
    color: #ffffff;
    padding: 2rem;
}

.hero-img{
    height: 70vh;
    width: 100%;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #a0e71c!important;
    transition: 0.3s;
}

.get-started:hover{
    text-decoration: none;
    background-color: #2bdbdb;
    
}
/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content{
    height: 60vh;
    background-color: #65e0ff;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #020d13;
    color: rgb(22, 18, 18)!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #3dc1ca;
    text-decoration: none;
}
/* get-started-buttons css end here*/

/* footer css starts here */
footer{
    background-color: #070606;
    color: white;
    height: 100%;
    width: 100%;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #249fc5;
}

.linkedin{
    color: #00b7ffe7;
}

.twitter{
    color: #1ab7df;
}
/* footer css ends here  */